<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <script src="https://kit.fontawesome.com/0145397512.js" crossorigin="anonymous"></script>
    <title>TeamTalk</title>
</head>
<body>
    <nav>
        <div class="siteTitle">TeamTalk</div>
        <div class="auth">
            <div class="loginBtn"><i class="fa-solid fa-user"><span></i>Log in</div>
            <div class="signinBtn">Sign up</div>
        </div>
    </nav>
    <main>
        <div class="main__top">
            <div class="main__begin">
                <div class="main__intro">One app for everything.<br>And everyone.</div>
                <div class="main__intro__sub">Bring teams together, reimagine workspaces, engage new audiences, and delight your customers — all on the TeamTalk platform you know and love !</div>
                <div class="main__launch">
                    <button id="launchMeeting">New meeting</button>
                    <input id="inputRoomCode" placeholder="Enter a room code">
                </div>
            </div>
            <div class="main__pic"><img src="/images/main__pic.png"></div>
        </div>
    </main>
    <script src="/javascript/index.js"></script>
</body>
</html>