<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/auth.css">
    <script src="https://kit.fontawesome.com/0145397512.js" crossorigin="anonymous"></script>
    <title>TeamTalk</title>
</head>
<body>
    <main>
        <section class="main__left">
            <div class="slogans"><span>The power of <br/>teamwork</span><br><h1>in your pocket with TeamTalk .</h1></div>
            <div class="auth__pic"><img src="/images/auth__pic.png"></div>
        </section>
        <section class="main__right">
            <div class="siteTitle">TeamTalk</div>
            <div class="substitle">Log in to your account</div>
            <div class="containerOfHint">
                <div class="hintToCreateAccount">Haven’t signed up yet?</div>
                <div class="linkToSignupPage">Create account</div>
            </div>
            <div class="login__container">
                <div class="login__area">
                    <div class="user__info">
                        <div class="tag">Email</div>
                        <input placeholder="Enter your email" id="login_email">
                        <div class="tag">Password</div>
                        <input placeholder="Enter your password" type="password" id="login_password">
                    </div>
                    <button class="loginBtn">Login</button>
                </div>
            </div>
        </section>
    </main>
    <script src="/javascript/login.js"></script>
</body>
</html>