<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/auth.css">
    <link rel="icon" href="/images/teamtalk.png" type="image/png">
    <script src="https://kit.fontawesome.com/0145397512.js" crossorigin="anonymous"></script>
    <title>TeamTalk</title>
</head>
<body>
    <main>
        <section class="main__left">
            <div class="slogans"><span>Stay connected ! </span><br><h1>wherever you are with TeamTalk.</h1></div>
            <div class="auth__pic"><img src="/images/auth__pic.png"></div>
        </section>
        <section class="main__right">
            <div class="siteTitle">TeamTalk</div>
            <div class="substitle">Sign up as a meeting host</div>
            <div class="containerOfHint">
                <div class="hintToLogin">Already have an account?</div>
                <div class="linkToLoginPage">Log in to your account</div>
            </div>
            <div class="signUp__container">
                <div class="login__area">
                    <div class="user__info">
                        <div class="tag">Username</div>
                        <input placeholder="Enter your name" id="signup_username">
                        <div class="tag">Your email</div>
                        <input placeholder="Enter your email" id="signup_email">
                        <div class="tag">Password</div>
                        <input placeholder="Enter your password" type="password" id="signup_password">
                        <div class="hint">At least 6 characters.</div>
                    </div>
                    <button class="createAccount">Create account</button>
                </div>
            </div>
        </section>
    </main>
    <script src="/javascript/signup.js"></script>
</body>
</html>