@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Noto+Sans+TC:wght@100;300&family=Noto+Sans:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 500;
}
body{
    background-color: rgb(37, 37, 37);
    height: 100%;
}
nav{
    background-color: rgb(37, 37, 37);
    color: aliceblue;
}
main{
    height: 100vh;
    display: flex;
}

.beforeJoinTheMeet{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.premeeting__video__section{
    width: 850px;
    height: 500px;
    border-radius: 10px;
    margin: 15px;
    position: relative;
}

.premeeting__video__preview{
    position: absolute;
    background: linear-gradient(to bottom, rgba(37,37,37,0.3), #00000000);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 0 20px 0;
    z-index: 5;
}

.premeeting__profile__section{
    position: absolute;
    width: 100%;
    height: 100%;
}

#premeeting__video{
    width: 100%;
    height: 100%;
}

.premeeting__options{
    display: flex;
    align-items: center;
    justify-content: center;
}

.option{
    font-size: 16px;
    border-radius: 80px;
    border: 1px solid rgb(209, 209, 209);
    color: #FFFFFF;
    background-color: rgb(37, 37, 37);
    padding: 10px 20px 10px 20px;
    margin: 10px;
}

.videoCamera, .videoCameraSlash, .fa-microphone-lines, .fa-microphone-lines-slash{
    margin-right: 20px;
}

.option:hover{
    cursor: pointer;
    background-color: rgba(235, 235, 235, 0.11);
}

.premeeting__options__join{
    background-color: rgb(33 149 107);
    border: none;
}

.premeeting__options__exit{
    background-color: rgb(216 39 68);
    border: none;
}

.premeeting__options__join:hover{
    background-color: rgba(45, 190, 137, 0.911);
}

.premeeting__options__exit:hover{
    background-color: rgb(255, 39, 78);
}

.section__video{
    flex: 77%;
    position: relative;
    display: none;
}

.pictures__video{
    height: calc(100vh - 70px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.video__container{
    display: grid;
    justify-items: center;
    grid-gap: 5px;
    width: 95%;
    height: 95%;
}

.userSection, .screenSharingSection{
    position: relative;
}

.video-grid, .userSection{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* position: relative; */
    border-radius: 5px;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.profile_pic_grid, .premeeting__profile__section{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;
    background-color: #363636
}

.profile_pic_container, .premeeting__profile{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
}

.profile_pic, .premeeting__profile_pic{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

video{
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); 
    -moz-transform:rotateY(180deg);
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 6px;
}

.userSection:hover .video-grid__thumbtack, .screenSharingSection:hover .video-grid__thumbtack{
    opacity: 1;
    /* transition: opacity 0.3s;
    animation: ease-in-out; */
}

.video-grid__thumbtack{
    position: absolute;
    top: 20px;
    RIGHT: 20px;
    z-index: 2;
    color: #ffffff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.video-grid__thumbtack:hover{
    background-color: #292929aa;
}



.video-grid__microphone{
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 2;
    color: #ffffff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.6;
}

.pinnedUsername{
    position: absolute;
    background-color: #b8b8b899;
    color: #ffffff;
    padding: 0 10px 0 10px;
    font-size: 14px;
    bottom: 20px;
    height: 30px;
    left: 20px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.screenSharingVideo{
    transform: rotateY(0deg);
    -webkit-transform:rotateY(0deg); 
    -moz-transform:rotateY(0deg);
    width: 100%; 
    height: 100%;
}
.section__chat{
    flex: 23%;
    background-color: rgb(30, 30, 30);
    display: none;
}
.chat__header{
    color: #acacac;
    text-align: center;
    font-weight: 700;
    margin: 10px 0 10px 0;
}
.chat__window{
    height: calc(100vh - 116px);
    overflow-y: auto;
}
.chat__input{
    height: 72px;
}
.chat__input > input{
    height: 100%;
    width: 23%;
    word-wrap: break-word;
    box-sizing: border-box;
    padding: 10px;
    border-style: none;
    border-top: 1px solid #acacac;
    background-color: rgb(30, 30, 30);
    color: #acacac;
    font-weight: 500;
}
.chat__input > input:focus{
    outline: none;
}
/* .chat__input > input[type="text"]{
        caret-color: #acacac;
} */
.chat__input > input::placeholder {
    color: #acacac;
    font-weight: 500;
}
.messagesBorder{
    overflow:auto;
}
.messageUser, .messageTime{
    color: rgb(200 200 200);
    list-style-type: none;
    font-size: 10px;
    /* margin: 0 15px; */
}
.messageUser{
    margin: 10px 15px;
}

.messageTime{
    width: 50px;
    position: absolute;
    right: 105%;
    bottom: 1px;
}

.message{
    word-wrap: break-word;
    color: #FFFFFF;
    list-style-type: none;
    width: fit-content;
    max-width: 70%;
    background-color: #0372c9;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    font-size: 12px;
    margin: 10px;
    position: relative;
}
.controls__video, .chat__input {
    position: fixed;
    bottom: 0;
    width: 100%;
}
.controls__video{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    background-color: rgb(22, 22, 22);
}

#video__record, #video__record__resume, #video__record__pause, #video__record__stop, #video__mute, #video__stop, #video__shareScreen, #video__chat, #video__disconnect, #whiteboard__btn{
    height: 45px;
    width: 90px;
    border-radius: 20px;
    margin: 20px;
    color: white;
    background-color: rgb(82, 83, 83);
    border-style: none;
    font-size: 12px;
    /* border: 1px solid rgb(209, 209, 209);
    background-color: rgba(82, 83, 83, 0); */
}
#video__disconnect{
    background-color: rgb(192, 13, 13);
}
#video__record:hover, #video__record__resume:hover, #video__record__pause:hover, #video__record__stop:hover, #video__mute:hover, #video__stop:hover, #video__shareScreen:hover, #video__chat:hover, #whiteboard__btn:hover{
    background-color: rgb(97, 97, 97);   
    cursor: pointer; 
}
#video__disconnect:hover{
    background-color: rgb(216, 21, 21);
    cursor: pointer; 
}
.fa-solid{
    font-size: 20px
}


.whiteboard{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 70px);
    z-index: 10;
    transition:  0.5s ease-in-out; /* 定義right屬性的過渡效果 */
}


.toolsBar{
    width: 40px;
    height: 300px;
    background-color: rgb(251 251 251);
    border: 1px solid #f3f3f3;
    position: relative;
    left: 21px;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.tools{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tools.disabled {
    background-color: #dadada;
  }

.tools:hover{
    background-color: #dadada;
    cursor: pointer;
}

.palette{
    position: relative;
}

.palette__menu{
    width: 170px;
    height: 90px;
    background-color: #FFFFFF;
    position: absolute;
    box-shadow: 0px 0px 3px 1px rgb(0 0 0 / 20%);
    left: 50px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
  
.color{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 5px;
    box-sizing: border-box;
}

.color:hover{
    border: 3px solid rgba(233, 233, 233, 0.6);
    cursor: pointer;
}

.red{
    background-color: rgba(241, 86, 86);
}

.orange{
    background-color: rgba(255 172 89);
}

.yellow{
    background-color: rgb(255, 222, 55);
}

.green{
    background-color: rgb(130, 197, 62);
}

.blue{
    background-color: rgb(72, 228, 228);
}

.purple{
    background-color: rgb(131, 83, 228);
}

.black{
    background-color: rgba(0, 0, 0);
}

.red_cursor{
    cursor: url("/images/red_cursor.png"), auto;
}

.yellow_cursor{
    cursor: url("/images/yellow_cursor.png"), auto;
}

.orange_cursor{
    cursor: url("/images/orange_cursor.png"), auto;
}

.green_cursor{
    cursor: url("/images/green_cursor.png"), auto;
}

.blue_cursor{
    cursor: url("/images/blue_cursor.png"), auto;
}

.purple_cursor{
    cursor: url("/images/purple_cursor.png"), auto;
}

.black_cursor{
    cursor: url("/images/black_cursor.png"), auto;
}

.penStroke{
    position: relative;
}

.penStroke__menu{
    width: 130px;
    height: 50px;
    background-color: #FFFFFF;
    position: absolute;
    box-shadow: 0px 0px 3px 1px rgb(0 0 0 / 20%);
    left: 50px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.penStrokeSize{
    border-radius: 50%;
    margin: 5px;
    box-sizing: border-box;
}

.penStrokeSize:hover{
    border: 3px solid rgba(156, 156, 156, 0.6);
    cursor: pointer;
}

.small{
    width: 10px;
    height: 10px;
    background-color: #363636;
}
.medium{
    width: 15px;
    height: 15px;
    background-color: #363636;
}
.large{
    width: 20px;
    height: 20px;
    background-color: #363636;
}
.extraLarge{
    width: 25px;
    height: 25px;
    background-color: #363636;
}


.eraser_cursor{
    cursor: url("/images/eraser_cursor.png"), auto;
}

.text_cursor{
    cursor: url("/images/text_cursor.png"), auto;
}


/*Scroll Bar style*/
/* width */
::-webkit-scrollbar{
    width: 10px;
}
  /* Track */
::-webkit-scrollbar-track{
    background: rgb(37, 37, 37);
}
  
  /* Handle */
::-webkit-scrollbar-thumb{
    background: #4b4b4b;
    border-radius: 10px;
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover{
    background: #484848;
}